:root {
  --background-color: #fefdfd;
  --title-color: #183650;
  --text-color: #444444;
  --alternative-color: #d79463;

  box-sizing: border-box;
}

body {
  margin: 1rem;
  background-color: var(--background-color);
}

.informations {
  margin: 3rem;
}

h3 {
  color: var(--title-color);
  margin-left: 3rem;
}

h4 {
  color: var(--title-color);
  margin-bottom: 0;
}

.applicationName {
  margin-left: 6rem;
}

.forToday {
  margin-left: 5rem;
}

.project {
  margin-left: 3rem;
  display: flex;
  justify-content: flex-start;
  gap: 3rem;
}

.logo {
  height: 100px;
  width: 100px;
}

.tasks {
  margin-left: 2rem;
}
