.sidebar {
  top:0;
  left: 0;
  background-color:#1b364e;
  min-width: 300px;
  height: 100vh;
  position: fixed;
}

.logoApside {
  width: 300px;
}

.nav-text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 8px 0 8px 16px;
  list-style: none;
  height: 60px;
}

.nav-text a {
  text-decoration: none;
  color: #f5f5f5;
  font-size: 18px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
}

.nav-text a:hover {
  background-color: #a5b4c0;
}

